<div class="mdc-text-field">
    <input type="text" id="title" class="mdc-text-field__input">
    <label class="mdc-floating-label" for="title">Titel</label>
    <div class="mdc-line-ripple"></div>
</div>
<div class="mdc-text-field">
    <input type="text" id="artist" class="mdc-text-field__input">
    <label class="mdc-floating-label" for="artist">Interpret</label>
    <div class="mdc-line-ripple"></div>
</div>
<button class="mdc-button" id="addWork">
    Add
</button>
